@import url(http://fonts.googleapis.com/css?family=Roboto);

* {
    font-family: Roboto;
}

body {
    background-color: #E0EAF4;
    overflow: hidden; /* Initial */
    //height: 5000px;
}

h1, h2 {
    text-align: center;
}

#logo img {
    width: 256px;
    height: 256px;
    transition: all .1s;
    transform: scale(1);
    -webkit-transform: scale(1);
}

#logo img:active {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
}

#logo {
    width: 256px;
    height: 256px;
    margin: -15px auto;
}

.content-header {
    margin-top: 15px;
    background: rgba(0,0,0,0);
}

.content-main {
    display: none;
}

.fade-in {
    opacity: 0; /* Initial */
}

.bar {
    height: 5px;
    background-color: #666;
}


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,0,0.3);
}
