//@import url(http://fonts.googleapis.com/css?family=Roboto);

//Temporary: load all renditions of Roboto; we'll trim the unused ones later
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Nothing+You+Could+Do);

@import "mixins.less";

body {

    font-family: @native-font;
    background-color: rgb(224, 234, 244);
    color: rgb(50,50,50);
    font-size: 12pt;

    .main-container {

        padding-top: 15px;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;

        max-width: 800px;

        margin-left: auto;
        margin-right: auto;


        .header {
            text-align: center;
            background: @transparent;
            margin-top: 0;
            margin-bottom: 10px;
            margin-left: 0;
            margin-right: 0;

            .hero {

                display: table;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 10px;

                .wrap {

                    display: table-cell;
                    vertical-align: middle;

                    .icon {
                        display: inline-block;
                        margin-left: auto;
                        margin-right: auto;
                        width: 256px;
                        height: 256px;
                        background: url("../res/img/Icon256.png");
                    }

                    .text {
                        display: inline-block;
                        .title {
                            font-family: "Roboto", @native-font;
                            font-weight: 100;
                            font-size: 3.75em;
                            margin-bottom: 0;
                        }
                        .caption {
                            font-family: "Roboto", @native-font;
                            font-weight: 300;
                            font-size: 1.5em;
                            margin-top: 0;
                        }
                    }

                }

            }

            .external {

                margin-top: 10px;
                margin-bottom: 20px;

                font-size: 1.5em;

            }

        }

        .fromthereadme {
            margin-top: 5px;
            margin-bottom: 5px;
            font-family: "Roboto", @native-font;
            font-style: italic;
            font-size: 1.0em;
            text-align: center;
        }

        .content {
            padding-top: 20px;

            //Everything in "content" is parsed Markdown, so things will only be in standard HTML elements

            * {
                font-family: "Roboto", @native-font;
                font-size: 1.1em;
            }

            h1,h2,h3,h4,h5,p,ul,ol {
                margin-top: 10px;
                margin-left: 10px;
                margin-right: 10px;
                margin-bottom: 20px;
            }

            h1 {
                font-weight: 700;
                text-transform: uppercase;
                font-size: 3em;
            }
            h2 {
                font-weight: 700;
                text-transform: normal;
                font-size: 2em;
                //color: rgb(183, 24, 24);
            }
            h3 {
                font-weight: 700;
                text-transform: normal;
                font-size: 1.5em;
                color: rgb(183, 24, 24);
            }
            h4 {
                font-weight: 700;
                text-transform: uppercase;
                margin-bottom: 0;
                font-size: 1.35em;
            }
            h5 {
                font-weight: 700;
                text-transform: uppercase;
                margin-bottom: 0;
                font-size: 1.15em;
            }
            p {
                margin-bottom: 20px;

            }
            hr {
                height: 1px;
                background: rgb(95, 95, 95);
                margin-left: 0;
                margin-right: 0;
            }
            pre { 
                padding: 9.5px;
                margin: 0 0 10px;
                font-size: 13px;
                background-color: #333;
                word-break: break-all;
                word-wrap: break-word;
                color: #f5f5f5;
                border: 1px solid #ccc;
                border-radius: 4px;

                code {
                    font-family: "Menlo", monospace;
                    line-height: 1.42857143;
                }
            }
            p code {
                font-family: "Menlo", monospace;
                line-height: 1.42857143;
                margin-left: 0;
                margin-right: 0;
                //font-size: 1.0em;
            }
            p img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                max-width: 700px;
            }
            p * {
                font-size: 1.0em;
            }

            p .signature {
                font-family: "Nothing You Could Do", @native-font;
                font-size: 1.5em;

                a img {
                    display: inline-block;
                }

            }

        }


    }


    .footer {

        margin-bottom: 0;
        padding-top: 5px;
        padding-bottom: 5px;

        width: 100%;

        background: rgb(65, 65, 65);
        //color: rgb(255, 51, 51); Color is created by randomColor in index.html, or by the CSS animation below

        font-family: "Avenir", @native-font;
        font-weight: 400;
        text-align: center;
        font-size: 0.75em;

        -webkit-animation: rainbow 10s infinite;
        animation: rainbow 10s infinite;

    }

}


/* Large desktops and anything larger */
@media(min-width:1200px){
    //
}

/* Portrait tablets and medium desktops */
@media(min-width:992px)and(max-width:1199px){
    //
}

/* Portrait tablets and small desktops */
@media(min-width:768px)and(max-width:991px){
    //
}

/* Landscape phones and portrait tablets */
@media(max-width:767px){
    //
}

/* Portrait phones and smaller */
@media(max-width:480px){
    //This makes the elements in the .header stack vertically, instead of horizontally, because there's less room on-screen
    .hero{display: block!important;.wrap{display: block!important}}
    .hero{.caption{font-size: 1.4em!important;}}
    .external{.ch-button{font-size: 0.56em!important;}}
    #releasewarning {width: 75px; height: 75px; background: url("../res/img/pre-alpha-75.png");}
}


//* {
//    font-family: Roboto;
//}
//
//body {
//    background-color: #E0EAF4;
//    overflow: hidden; /* Initial */
//    //height: 5000px;
//}
//
//h1, h2 {
//    text-align: center;
//}
//
//#logo img {
//    width: 256px;
//    height: 256px;
//    transition: all .1s;
//    transform: scale(1);
//    -webkit-transform: scale(1);
//}
//
//#logo img:active {
//    transform: scale(0.9);
//    -webkit-transform: scale(0.9);
//}
//
//#logo {
//    width: 256px;
//    height: 256px;
//    margin: -15px auto;
//}
//
//.content-header {
//    margin-top: 15px;
//    background: rgba(0,0,0,0);
//}
//
//.content-main {
//    display: none;
//}
//
//.fade-in {
//    opacity: 0; /* Initial */
//}
//
//.bar {
//    height: 5px;
//    background-color: #666;
//}


//::-webkit-scrollbar {
//    width: 5px;
//}
//
//::-webkit-scrollbar-track {
//    border-radius: 3px;
//}
//
//::-webkit-scrollbar-thumb {
//    border-radius: 10px;
//    background: rgba(0,0,0,0.3);
//}
