@import url(http://fonts.googleapis.com/css?family=Roboto);

* {
  font-family: Roboto;
}

body {
	background-color: #E0EAF4;
	overflow: hidden; /* Initial */
	height: 5000px;
}

#logo img {
  width: 256px;
  height: 256px;
}

#logo {
  width: 256px;
  height: 256px;
  margin: -15px auto;
}

.content-header {
  margin-top: 15px;
  background: rgba(0,0,0,0);
}

.fade-in {
	opacity: 0; /* Initial */
}

.bar {
	height: 5px;
	background-color: #CCC;
}
