.primary-black {
  background: #0d461b;
}
.primary-dark {
  background: #188734;
}
.primary-normal {
  background: #2cd957;
}
.primary-light {
  background: #82e99c;
}
.primary-white {
  background: #c3f4cf;
}
.secondary-1-black {
  background: #0e3169;
}
.secondary-1-dark {
  background: #1750ad;
}
.secondary-1-normal {
  background: #4482e6;
}
.secondary-1-light {
  background: #9ebef2;
}
.secondary-1-white {
  background: #e1ebfb;
}
.secondary-2-black {
  background: #09746f;
}
.secondary-2-dark {
  background: #0fbbb3;
}
.secondary-2-normal {
  background: #40f0e8;
}
.secondary-2-light {
  background: #9ff7f3;
}
.secondary-2-white {
  background: #e6fdfc;
}
.secondary-3-black {
  background: #3f6a08;
}
.secondary-3-dark {
  background: #69b10d;
}
.secondary-3-normal {
  background: #9ef034;
}
.secondary-3-light {
  background: #cbf793;
}
.secondary-3-white {
  background: #edfcda;
}
.secondary-4-black {
  background: #512309;
}
.secondary-4-dark {
  background: #964011;
}
.secondary-4-normal {
  background: #e66a27;
}
.secondary-4-light {
  background: #f1a982;
}
.secondary-4-white {
  background: #f9d8c7;
}


