* {
    overflow: hidden;
}

body {
    width: 375px;
    height: 667px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.container {
    max-width: 375px;
    height: 667px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background: rgb(240, 240, 240);
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


#releasewarning {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100px;
    height: 100px;
    z-index: 95;
    opacity: 0.7;
    background: url("../img/ribbon/pre-alpha.png");
}
