





.thing{
    font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
    color: white;
    background: rgb(207, 65, 65);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
}

.otherthing{
    font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
    color: white;
    background: rgb(65, 158, 212);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    font-weight: 400;
}

.varrick{
    font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
    color: white;
    background: rgb(66, 214, 105);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    font-weight: 400;
}

.korra{
    font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
    color: white;
    background: rgb(190, 74, 236);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    font-weight: 400;
}

.button {
    width: 1.5em;
    height: 1.5em;
    -webkit-border-radius: 0.75em;
    font-size: 1.5em;
    line-height: 1.5em;
    text-align: center;
    font-family: "Menlo", monospace;
}

#close {
    color: rgb(240,240,240);
    background: rgb(198, 49, 49);
    -webkit-border-radius: 0em;
    width: 2.5em;
    height: 1.5em;
    position: absolute;
    top: 1px;
    right: 1px;
    z-index: 5;
}
